Source: nagios-plugins-ceph
Maintainer: Bernd Zeimetz <bzed@debian.org>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Vcs-Git: https://github.com/bzed/ceph-nagios-plugins.git
Build-Depends: debhelper-compat (= 13), dh-python, python3:any

Package: nagios-plugins-ceph
Architecture: all
Depends: python3, ${misc:Depends}
Replaces: imt-nagios-nrpe (<< 0.7-59)
Breaks: imt-nagios-nrpe (<< 0.7-59)
Description: Nagios plugins for Ceph
 This package provides a set of plugins to monitor a ceph cluster.
